/*Landry Monga
  Pong game
  August 2017
*/

html, body{
    height: 100%;
    margin: 0;
}

aside {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
}

.toolbox {
    position : absolute;
    float : right;
    padding: 2%;
    width: 250px;
    left: 75%;
    top : 15%;
    background: #e8ebee;
    color: burlywood;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    text-align: center;
}

input {
    display: inline-block;
    position: relative;
    transition: all 0.15s ease-out 0s;
    margin: 10em;
    border: none;
    color: #fff;
    cursor: pointer; 
    outline: none;
}

label{
    display: block;
    margin: 2%;
}

#pause {
    text-align: center;
    font-size: 10em;
    vertical-align: baseline;
    position: fixed;
    top : 2.5em;
    left : 3.5em;
    color : white;
    display: none;
}

#pause p:last-child {
    margin-top: 1em;
}

footer {
    position: relative;
    bottom: 0;
}
