<!-- Landry Monga
  Pong game
  August 2017
-->

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pong by Lvndry</title>
        <link rel="icon" href="../favicon.ico">

        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.7/css/nanoscroller.min.css" />
        
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <script src = 'pong.js'></script>
        
    </head>
    
     <body onkeydown="document.body.style.overflow='hidden';">
          <div id="menu">
              <p>Pause</p>
              <p>||</p>

        </div>
        <img src="../star.png" alt="bonus" id="bonus-img" hidden>
        <canvas class="game"> </canvas>
    
        <aside class="toolbox">
            <div class="color">
                <h2>Color</h2>
                    <div class="dashboard">
                    <!--@todo : Generate form with js -->  
                        <label>Dashboard</label>
                        <select class="dashcolor" onchange="board.color = '#' + this.value;">
                            <option value="fff">White</option>
                             <option value="e60000">Red</option>
                             <option value="4286f4" selected>Blue</option>
                             <option value="262626">Black</option>
                             <option value="ffcc00">Yellow</option>
                             <option value ="2eb82e">Green</option>
                         </select>
                    </div>
                    
                    <div class="pong">
                        <label>Ball</label>
                        <select  onchange="ballColor(this.value);">
                          <option value="fff" selected>White</option>
                          <option value="e60000">Red</option>
                          <option value="4286f4">Blue</option>
                          <option value="262626">black</option>
                          <option value="ffcc00">Yellow</option>
                          <option value ="2eb82e">Green</option>
                      </select>
                  </div>
                  <div class="player">
                      <label>Paddle</label>
                        <select onchange="player1.color = player2.color = '#' + this.value;">
                          <option value="fff" selected>White</option>
                          <option value="e60000">Red</option>
                          <option value="4286f4">Blue</option>
                          <option value="262626">black</option>
                          <option value="ffcc00">Yellow</option>
                          <option value ="2eb82e">Green</option>
                      </select>
                </div> 
            </div>
            
            <div id="numBall" onchange="createBalls();">
                <label for="one">1</label><input type="radio"  value="1"  name="ball" id="one" checked>
                <label for="second">2</label><input type="radio" value="2"  name="ball" id="second">
            </div>
            <div onchange="player2Mode();">
                <label>Human vs Human</label><input type="radio" value="H" name="mode" checked>
                <label>Human vs IA</label><input type="radio" value="I" name="mode">
            </div>
        </aside> 
                 
        <script>
            var board = createboard();  //creation of the board === the background
            var x, y, w, h, min_x, max_x, min_y, max_y; //coordonates of players
            var player1, player2;   //==> paddles
            var pause = false;  //says if the game stops or not
            var balls = []; //array of ball
            var bonusFunctions = [];
            
            w = 30;
            h = board.h * 0.3;
            x = board.x + 15;
            y = board.h/2 - (2 * board.y);
            player1 = createPlayer(board, x, y, w, h);  //creation of letf player 

            w = 30;
            h = board.h * 0.3;
            x = board.w - (board.x + 15);
            y = board.h/2 - (2 * board.y);
            player2 = createPlayer(board, x, y, w, h);  //creation of right player
            
            document.addEventListener("keydown", event =>{ //Stops the game if spacebar is pressed
                if(event.keyCode == "32"){
                    if($("#menu").css('display') == 'block'){
                        $("#menu").hide();
                        pause = false;
                    }
                    else {
                        $("#menu").show();
                        pause = true;
                    }
                }
            })
            
            var bonus = new bonusCase(); //new bonus case
            
            createBalls();
            balls[0].setFunctions();
            bonus.init();
            bonus.show();
            game();
                
            player1.mouseEventHandler();
            
            function player2Mode(){
                var gameMode = $('input[name=mode]:checked').val();
                console.log('GameMode : ' + gameMode);
                if(gameMode === 'H'){
                    player2.bot = false;
                    player2.keyEventHandler();
                }
                else if(gameMode === 'I'){
                    player2.bot = true;
                        if(balls[0].xspeed > 0){
                            if(player2.y < balls[0].y)
                                player2.y += 4;
                            if(player2.y > balls[0].y)
                                player2.y -= 4;
                        
                    }
                }
            }
            player2Mode();
        
            
         </script>
         
         <footer>
             <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
         </footer>
     </body> 
</html> 